    {% if section.settings.tilte != blank %} 
        <div class="image-tilte-rubb">{{section.settings.tilte}}</div>
    {% endif %}
    {% if section.settings.content != blank %} 
        <div class="image-content-rubb">{{section.settings.content}}</div>
    {% endif %}
    <div class="image-slider-rubb">
      {% for block in section.blocks %}
        <div class="image-item-rubb">
          <div class="image-rubb">
            <img src="{{block.settings.image | img_url: 'master'}}" alt="">
          </div>
        </div>
      {%endfor%}
    </div>
  {% schema %}
    {
      "name": "@Rubaby",
      "settings": [
        {
          "type": "text",
          "id": "tilte",
          "label": "tilte",
         "default": "@rubaby"
        },
        {
            "type": "text",
            "id": "content",
            "label": "Image content",
            "default": "Hop over to Instagram and tag us @rubaby or use #rubaby"
        }
        
      ],
      "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
      }
    ],
      "presets": [
        {
          "name": "@Rubaby",
          "category": "@Rubaby",
          "blocks": [
            {
              "type": "image"
            },
            {
              "type": "image"
            },
            {
              "type": "image"
            },
            {
             "type": "image"
            }
          ]
        }
      ]
    }
  {% endschema %}
  
  